body{
  font-family: 'Roboto', sans-serif;
  background-color:#303133;
  height: 100vh;
  min-width: 1249px;
  width: 100%;
}


.canvas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.canvasChart {
  margin: 10px;
}

canvas{
  background-color:#2b2c2e;
  border-radius: 10px;
  padding: 30px;
  max-width:48.8%;
  min-height: 400px;
}

.btn-custom {
  background-color: #303133;
  margin-right: 15px;
  border-bottom: 2px solid #DC3D45;
}

.btn-custom:hover {
  background-color: #2B2C2E;
}

.btn-custom i{
  margin: 0 5px;
}

.table-dark td {
  text-align: center;
}

.bg-light {
  background-color: #222222 !important;
  border-bottom: 2px solid #2B2C2E;
}

.bg-light a {
  color: rgb(233, 233, 233) !important;
}

h1 {
  font-size: 45px;
  color: rgb(255, 255, 255)
}

h2, h3 {
  font-size: 17px;
  margin: 3px 0 3px;
  color:rgb(155, 226, 208)

}


.corona-picture {
  min-width: 50px;
  margin-left: 15px;
}

.addCountry{
  margin: auto;
  padding: 0 10px;
}

.remove i {
  margin-top: 3px;
}

.infos {
  margin-top: 10px;
  /* display:flex; */
}

tr:hover {
  cursor: pointer;
}

@media screen and (max-width: 860px) {
  .canvas {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  canvas {
    max-width: 100%;
  }

  .canvasChart {
    margin: 10px 0;
  }


  .data2, .data4, .data8, .data9{
    display:none;
  }
}