body {
  font-family: "Roboto", sans-serif !important;
  background-color: #303133;
  min-width: 600px;
}

.tabela {
  margin-top: 10px;
}

.btn-custom {
  background-color: #303133;
  margin-right: 15px;
  border-bottom: 2px solid #dc3d45;
  color: white;
}

.btn-custom1 {
  background-color: #303133;
  margin-right: 15px;
  border-bottom: 2px solid green;
  color: white;
  white-space: nowrap;
}

.btn-custom:hover {
  background-color: #dc3d45;
  color: white;
}

.btn-custom1:hover {
  background-color: green;
  color: white;
}

.btn-custom i {
  margin: 0 5px;
}

.table-dark td {
  text-align: center;
}

.bg-light {
  background-color: #222222 !important;
  border-bottom: 2px solid #2b2c2e;
}

.bg-light a {
  color: rgb(233, 233, 233) !important;
}

h1 {
  font-size: 45px;
  color: rgb(255, 255, 255);
}

h2,
h3 {
  font-size: 17px;
  margin: 3px 0 3px;
  color: rgb(155, 226, 208);
}

.corona-picture {
  max-width: 50px;
  max-height: 50px;
  margin-left: 15px;
}

.addCountry {
  margin: auto;
  padding: 0 10px;
}

.remove i {
  margin-top: 3px;
}

.infos {
  margin-top: 10px;
  /* display:flex; */
}

tr:hover {
  cursor: pointer;
}

.chartSize {
  width: 31%;
  border-radius: 10px;
  padding: 30px;
  margin: 10px 5px !important;
}

.barCharts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.lineCharts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.newChart {
  width: 48%;
  min-height: 350px;
}

.chartBackColor {
  background-color: #2b2c2e;
  margin: 10px;
  padding: 30px;
  border-radius: 10px;
}

@media screen and (max-width: 1100px) {
  
  .selectDiv {
    width: 80%;
  }

  .nav-mobile {
    justify-content: center !important;
  }

  .data2,
  .data4,
  .data6,
  .data8,
  .data9,
  .data11 {
    display: none;
  }

  .chartSize {
    width: 100%;
  }

  .newChart {
    width: 100%;
  }
}

.footer {
  width: 100%;
  min-height: 80px;
  background-color: #222222;
  padding: 20px;
}

.info {
  font-size: 15px;
}

.info-text {
  font-size: 20px;
}

@media screen and (max-width: 801px) {
  .selectDiv {
    width: 80%;
  }
  .corona-picture {
    max-width: 70px;
    max-height: 50px;
  }

  .nav-mobile {
    justify-content: center !important;
  }

  .data2,
  .data4,
  .data5,
  .data6,
  .data8,
  .data9,
  .data11 {
    display: none;
  }

  .chartSize {
    width: 100%;
  }
}
